<div>

    <div data-dojo-attach-point='slider' data-dojo-type="dijit/form/HorizontalSlider" data-dojo-props="
                        intermediateChanges: true,
                        showButtons:false,
                        'class':'ctCrossfaderSlider'">
        <!--<div data-dojo-type="dijit/form/HorizontalRule" data-dojo-props="count:this.maximum+1,container:'bottomDecoration'"></div>-->
        <!--<ol data-dojo-type="dijit/form/HorizontalRuleLabels" data-dojo-props="labels:this.labels">-->
        <!--</ol>-->
    </div>
    <div class="ctButtonWrapper">
        <div data-dojo-attach-point='fbbutton' data-dojo-type="dijit/form/ToggleButton" data-dojo-props="'class':'ctFBButton',iconClass:'icon-arrow-double-left',title:'${i18n.buttons.fbbutton}'"></div>
        <div data-dojo-attach-point='playbutton' data-dojo-type="dijit/form/ToggleButton" data-dojo-props="'class':'ctPlayButton',iconClass:'icon-play',title:'${i18n.buttons.playbutton}'"></div>
        <div data-dojo-attach-point='ffbutton' data-dojo-type="dijit/form/ToggleButton" data-dojo-props="'class':'ctFFButton',iconClass:'icon-arrow-double-right',title:'${i18n.buttons.ffbutton}'"></div>
        <div data-dojo-attach-point='resetbutton' data-dojo-type="dijit/form/ToggleButton" data-dojo-props="'class':'ctResetButton',iconClass:'icon-undo',title:'${i18n.buttons.resetbutton}'"></div>
    </div>
</div>