<div>
    <!--<div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'icon-arrow-light-left'"-->
            <!--data-dojo-attach-event="onClick:_onLeft" data-dojo-attach-point="leftButton"></div>-->
    <div tabIndex="${tabIndex}" data-dojo-attach-point="containerNode" class="ctImageSelectorContainer"></div>
    <!--<div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'icon-arrow-light-right'"-->
         <!--data-dojo-attach-event="onClick:_onRight" data-dojo-attach-point="rightButton"></div>-->
</div>